.header-container {
	max-width: 200rem;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.header {
	padding: 1.5em;
	background-color: var(--white);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
	color: var(--light-mode-blue);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	width: 100%;
}

.dark-mode-icon:hover {
	cursor: pointer;
}

.dark-header {
	background-color: var(--dark-mode-blue);
	color: white;
}

.logo,
.dark-mode-icon {
	font-size: 1.4rem;
}

.dark-mode-icon {
	font-weight: 600;
	display: flex;
	align-items: center;
	padding: 0.5em;
	transition: opacity 100ms ease-in-out;
}

.dark-mode-icon:hover {
	opacity: 0.8;
}

.fa-moon,
.fa-sun {
	transform: rotate(-35deg);
	padding-right: 1em;
	margin-bottom: 0.5em;
	display: inline-block;
}
