.country {
  position: relative;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  color: var(--light-mode-blue);
  margin: 3em;
  max-width: 40rem;
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.country::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  box-shadow: 0 5px 15px rgba(15, 15, 15, 0.3);
  opacity: 0;

  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.country:hover {
  transform: translateY(10px);
  cursor: pointer;
}

.country:hover::after {
  opacity: 1;
}

.country__flag {
  border-radius: 5px 5px 0 0;
  width: 100%;
  min-height: 20rem;
  object-fit: cover;
}

.country__info {
  padding: 2em;
}

.dark-country-info {
  color: white;
}

.country__name {
  font-size: 1.5rem;
}

.country__stats {
  list-style: none;
  margin-top: 1em;
  font-size: 1.4rem;
  line-height: 1.7;
}

.country__stats span {
  font-weight: 600;
}

.dark-country {
  background-color: var(--dark-mode-blue);
  color: white;
}

.countries {
  padding-bottom: 1em;
}

.country-details {
  padding: 10rem 0;
  color: black;
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.country-details-main,
.country-details-other {
  list-style-type: none;
  font-size: 1.3rem;
  line-height: 2.5;
}

.country-details-main > li span,
.country-details-other > li span {
  font-weight: 600;
}

.country-details-main {
  margin-top: 1.3em;
}

.country-details-other {
  margin-top: 2.5em;
}

.country-details-name {
  font-size: 2.1rem;
  margin-top: 2em;
}

.country-details-flag {
  object-fit: contain;
}

.border-countries {
  margin-top: 3.5em;
}

.border-btn {
  border: none;
  outline: none;
  padding: 0.5em 0.5em;
  background: transparent;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--light-mode-dark-gray);
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.border-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-group {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 12rem));
  margin-top: 1em;
}

@media (min-width: 500px) {
  .countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.5rem, 1fr));
    justify-items: center;
  }
}

@media (min-width: 970px) {
  .country-info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin-left: 8em;
  }

  .country-details-section {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .country-details-other {
    margin-left: 1em;
  }
}
