*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	/* Dark Mode */
	--dark-mode-blue: hsl(209, 23%, 22%);
	--ultra-dark-mode-blue: hsl(207, 26%, 17%);
	/* Light Mode */
	--light-mode-blue: hsl(200, 15%, 8%);
	--light-mode-dark-gray: hsl(0, 0%, 52%);
	--ultra-light-gray: hsl(0, 0%, 98%);
	--white: hsl(0, 0%, 100%);
	font-size: 10px;
}

body {
	color: white;
	font-size: 1.6rem;
	font-family: "Nunito Sans", sans-serif;
}

main {
	background-color: var(--ultra-light-gray);
}

.dark-content {
	background-color: var(--ultra-dark-mode-blue);
}

img {
	max-width: 100%;
	display: block;
}

.container {
	margin: 0 auto;
	max-width: 200rem;
}

.dark-container {
	background-color: var(--ultra-dark-mode-blue);
	color: green;
}
